@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "JetBrains Mono", monospace;
  }
  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full p-2 my-1 text-sm text-white rounded bg-primary hover:bg-secondary;
  }

  .icon-btn {
    @apply text-xl cursor-pointer text-slate-300 hover:text-primary;
  }

  .input-label {
    @apply text-xs text-slate-400;
  }
}
